@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-pink-50 text-slate-900 font-sans antialiased;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Evita scroll orizzontale per animazioni */
}

/* Stile per nascondere la scrollbar nei coupon ma permettere lo scroll */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}